<!DOCTYPE html>
<html>
<head>
    <title>タスク詳細</title>
</head>
<body>
    <h1>{{ task.title }}</h1>
    <p><strong>説明：</strong>{{ task.description|linebreaks }}</p>
    <p><strong>期限日：</strong>{{ task.due_date }}</p>
    <p><strong>状態：</strong>{{ task.get_status_display }}</p>

    <p>
    <a href="{% url 'task_list' %}">← タスク一覧に戻る</a> |
    <a href="{% url 'task_edit' task.pk %}">編集する</a> |
    <a href="{% url 'task_delete' task.pk %}">削除する</a>
    </p>
</body>
</html>

<!-- 編集画面が作成画面と同じなのでページタイトルが「タスクの作成」になっている状態
urlはtasks/editになっており、登録した内容が入力された状態になっている -->